/* border: 1px solid #fff; debug helper */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
 
/* Menu / Nav Bar Items */
.nav-container {
    color: #fff;
    background-color: #5995DA;
    display: flex;
    justify-content: center;
}
  
.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem 1rem;
}

.nav-links {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1rem;
}

.nav-links:hover {
    color: black;
    background-color: #ddd;
}

.home {
  margin-left: auto;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-grid-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.content-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.content-grid-item {
  /* Debug border: 2px solid red;*/ 
    padding: 1rem;
}

textarea {
    padding: 0.5rem;
}

button {
    padding: 0.25rem;
}