* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
 
/* Menu / Nav Bar Items */
.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
  
.menu {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.date {
  margin-right: 0.5rem;
}

.signup {
  margin-left: auto;
}

.login {
  margin-left: 1rem;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-grid-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.content-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.content-grid-item {
  /* Debug border: 2px solid red;*/ 
  padding: 20px;
}

textarea {
    padding: 5px;
}
