body {
    background-color: lightblue;

  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
  }

  .child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto;
    /*outline: dashed 2px red;*/
  }
  
#dancing-duck{
    width: 30%; 
    max-width: 300px;
    height: auto;
    
    /* outline: dashed 2px black; */
}